/* 
___________________________________________________________________________________________

                     Общие настройки страницы авторизации/регитсрации
___________________________________________________________________________________________

*/

.contact_main_container{
    background-color: black;
    width: 100%;
    height: 100%;
}
.auth_block_text{
    color: #e7d6c2;
}
ul{
    list-style: none;
}

/* 
___________________________________________________________________________________________

                               Настройки для панели навигации
___________________________________________________________________________________________

*/

header{
    border-top: 0;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.contact_header_block{
    background-color: black;
    width: 100%;
    height: 10vh;
}
.contact_block_navbar{
    margin-top: 1em;
}
.contact_block_navbar ul{
    margin-top: 0;
    margin-bottom: 0;
}

/* 
___________________________________________________________________________________________

                                  Настройки для блока main 
___________________________________________________________________________________________

*/

.contact_main_container{
    background-color: #e7d6c2;
    width: 100%;
    height: 70vh;
}
.contact_main_blocks{
    margin-left: 10%;
    margin-right: 10%;
    display: inline-flex;
    width: 100%;
    height: 70vh;
}
.contact_map_block{
    background-color: white;
    border-radius: 5%;
    margin-top: 3em;
    width: 40%;
    height: 50vh;
}
.contact_vertical_line {
    width: 1px;
    background-color: black;
    opacity: 0.5;
    margin: 25px 5px;
}
.contact_information_block{
    background-color: black;
    border-radius: 5%;
    margin-top: 3em;
    width: 40%;
    height: 50vh;
}
.contact_support_block{
    margin-bottom: 3em;
}
.contact_horizontal_line{
    border: none;
    border-top: 1px solid black;
    margin: 25px 20px;
    opacity: 0.5;
}
.store_addresses li{
    color: #e7d6c2;
    margin: 1.5em; font-size: 1.2em;
}
/* 
___________________________________________________________________________________________

                                  Настройки для блока footer
___________________________________________________________________________________________

*/