/* 
___________________________________________________________________________________________

                     Общие настройки страницы авторизации/регитсрации
___________________________________________________________________________________________

*/

body {
    overflow-x: hidden;
}
.admin_block{
    background-color: black;
}
.contact_main_container{
    background-color: black;

}
.contact_block_text{
    color: #e7d6c2;
}
ul{
    list-style: none;
}

/* 
___________________________________________________________________________________________

                               Настройки для панели навигации
___________________________________________________________________________________________

*/


/* 
___________________________________________________________________________________________

                                  Настройки для блока main 
___________________________________________________________________________________________

*/

.main_admin_block{
    width: 100%;
    height: 70vh;
    background-color: #e7d6c2;
}
.admin_form_product_store{
    position: absolute;
    width: 30%;
    height: 55%;
    background-color: black;
    border-radius: 3%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
}

/* 
___________________________________________________________________________________________

                                  Настройки для блока footer
___________________________________________________________________________________________

*/

.footer_admin_block{
    width: 100%;
    height: 70vh;
}