/* 
___________________________________________________________________________________________

                     Общие настройки страницы авторизации/регитсрации
___________________________________________________________________________________________

*/

.admin_block{
    background-color: black;
}

/* 
___________________________________________________________________________________________

                               Настройки для панели навигации
___________________________________________________________________________________________

*/

.admin_header_block{
}

/* 
___________________________________________________________________________________________

                                  Настройки для блока main 
___________________________________________________________________________________________

*/

.main_admin_block{
    width: 100%;
    height: 70vh;
    background-color: #e7d6c2;
}

/* 
___________________________________________________________________________________________

                                  Настройки для блока footer
___________________________________________________________________________________________

*/

.footer_admin_block{
    width: 100%;
    height: 70vh;
}